

  <div class="container-fluid">
    <%= image_tag "popcorn.png", class:"img-fluid full-img"%>
  <div class="image-text">My Lists</div>
  </div>
<div class="container ">


  <% @lists.each do |list| %>
    <p><%= link_to "#{list.name}", list_path(list)%><p>
  <% end %>

    <%= link_to "Add List", new_list_path, class: "btn btn-dark"%>

</div>
